[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "*"
marshmallow = "*"
pandas = "*"
selenium = "*"
pytest = "*"
"flake8" = "*"
sanic = "*"
jinja2 = "*"

[dev-packages]
"flake8" = "*"
"pytest" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
